body {
  background-image: url("it4403background.png");
}
h1, h2 {
  text-align: center;
  color: #b3ecff;
  font-family: "Lucida Console", "Courier New", monospace;
}
p, ul {
  text-align: center;
  color: #b3ecff;
  font-family: Arial, Helvetica, sans-serif;
}
div {
  background-color: #220088;
  border-style: groove;
  border-radius: 5px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

