body {
  background-image: url("it4403background.png");
}
h1 {
  text-align: center;
  color: #b3ecff;
  font-family: "Lucida Console", "Courier New", monospace;
}
p {
  text-align: center;
  color: #b3ecff;
  font-family: "Lucida Console", "Courier New", monospace;
}
div {
  background-color: #220088;
}

